@tailwind base;
@tailwind components;
@tailwind utilities;

.seconds {
  display: inline-block;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
